.main-container{
    /*opacity: 0.7;*/
    /*specify width but let content decide the height*/
    max-width: 70em;
    width:100%;
    margin: 0 auto;
    /*opacity: 0.7;*/
}

/* top side*/
.top{
    display: flex;
    background-color: bisque;
}
.img-preview{
    width: 40%;
    height: 40%;
    margin: 2em 0 0 2em;
    box-shadow: 0 0 10px #eeeeee;
}
.img-preview img{
    width: 20em;
    height: 17em;
    /*cover the whole space*/
    object-fit: cover;
}

/* nutrition table*/
.content-preview{
    margin: 2em 0 0 2em;
    position: relative;
}

.description{
    position: absolute;
    bottom: 5px;
}
.nutrient{
    display: flex;
}
.nutrient li{
    list-style: none;
    margin-left: 0.5em;
    text-align: center;
}
.nutrient li span{
    display: block;

    width: 5em;
}

.nutrient li span:first-child{
    background-color: palevioletred;
    margin-bottom: 1px;
    border-radius: 3px 3px 0 0;
}
.nutrient li span:last-child{
    background-color: #eeeeee;
    margin-bottom: 1px;
    border-radius: 0 0 3px 3px;
}
/*bottom*/
.bot{
    display: flex;
    justify-content: space-around;
}

.specific{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
}

.specific li{
    list-style: none;
}

.steps{
    flex:1
}

.steps h1, .ingredient h1{
    text-align: center;
}
.steps li{
    border: 1px dashed black;
    margin-bottom: 2px;
    padding: 1em;
    border-radius: 5px;
}
.ingredient{
    flex:1
}

.ingredient ul{
    margin: 0 2em 0 2em;
    border: 1px #eeeeee solid;
    padding: 1em;
}
.ingredient ul li{
    padding: 0.5em;
    border-radius: 5px;
}
.side-menu{
    flex: 1;
    background-color: #ffffff;
}

/*add border*/
.ingredient h1, .steps h1{
    border-bottom: 1px #eeeeee dashed;
    margin: 0 0 5px 5px;
}


/*ingredient list color switch*/
.ingredient li:nth-of-type(even){
    background-color: #9ecaed;
}